.login-template{

}
.login-template .login-form-box{
    margin: 0 auto;
    background: url("./img/bg.jpg") center top no-repeat;
    height: 797px;
}
.login-template .login-title{
    text-align: center;
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
}
.login-template .login-button .ant-btn{
    width: 100%;
    margin-bottom: 40px;
    background: #ae242b;
    color: #fff;
    border:1px solid #ae242b;
    border-radius: 20px;
    height: 40px;
    padding: 0 45px;
    font-size: 18px;
    margin-right: 20px;
    margin-top: 40px;
}
.login-template .login-button p{
    text-align: right;
}
.login-template .ant-col-8 {
    color: #000;
    text-align: center;
}
.login-template .ant-col-8 label{
    font-size: 18px;
}
.login-template .ant-form-item-label > label.ant-form-item-required::before,
.login-template .ant-form-item-label > label::after{
    display: none;
}
.login-template a{
    color: #ae242b;
    font-size: 16px;
}
.login-template a:hover{
    text-decoration: underline;
}
.login-template .login-max-weight{
    position: relative;
    z-index: 1;
    background: url('./img/text.png') left center no-repeat;
    min-height: 558px;
}
.login-template .login-form,.login-template .login-form-bg{
    width: 445px;
    height: 558px;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 117px;
    border-radius: 25px;
    padding: 40px;
}
.login-template .login-form-bg{
    z-index: 1;
    background: #fff;
    opacity: 0.6;
}
.login-template .ant-divider-inner-text{
    font-size: 22px;
    color: #ac242a;
}
.login-template .ant-divider-horizontal.ant-divider-with-text-center::before,
.login-template .ant-divider-horizontal.ant-divider-with-text-center::after{
    border-top:1px solid #a72329;
}
.login-template .ant-form{
    margin-top: 50px;
}
.login-template .ant-input-prefix{
    font-size: 20px;
}
.login-template .ant-form-item{
    margin-top: 40px;
}