.policyList-template{
}
.policyList-template .policyList-serach{
    margin-left: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.policyList-template .policyList-serach .serach-arrow{
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
}
.policyList-template .label-box{
    border:1px solid #efefef;
    padding: 10px;
    margin-bottom: 20px;
}
.policyList-template .label-box .ant-col-2 {
    text-align: center;
    color: #333;
}
.policyList-template .policyList-button{
    text-align: center;
    margin-top: 20px;
}
.policyList-template .label-product-box{
    position: relative;
}
.policyList-template .label-product-box .more-label{
    color:#333;
    position: absolute;
    right:10px;
    top:0;
    cursor: pointer;
}
.policyList-template .information-title{
    margin-top: 20px;
    color: #333;
    margin-bottom: 10px;
}
.policyList-template .information-title:before{
    content: '';
    width: 5px;
    height: 20px;
    float:left;
    background: #1890ff;
    margin-right: 5px;
}