.top-component-template{

}
.top-component-template .welcome-box{
    border-bottom: 1px solid #efefef;
    padding:5px;
}
.top-component-template .welcome-box .right-button{
    text-align: right;
}
.top-component-template .logo-box{
    padding:20px;
}
.top-component-template .logo-box .logo{
    font-size: 24px;
    color:#333;
}