.policy-menu-component-template{
    padding-top: 140px;
    /*position: fixed;*/
    /*top:180px;*/
    position: absolute;
    left:0
}
.policy-menu-component-template .ant-menu-submenu-title,
.policy-menu-component-template .project-management{
    background: #ae242b;
    font-size: 17px;
    color: #fff;
    border-radius: 20px;
    text-indent:5px;
    margin-bottom: 20px;
    cursor: pointer;
}
.policy-menu-component-template .project-management a,
.policy-menu-component-template .project-management .anticon{
    color:#fff;
    margin-right:10px;
}

.policy-menu-component-template .ant-menu-submenu-title .ant-menu-submenu-arrow:after,
.policy-menu-component-template .ant-menu-submenu-title .ant-menu-submenu-arrow:before,
.policy-menu-component-template .ant-menu-submenu-active .ant-menu-submenu-title .ant-menu-submenu-arrow:after,
.policy-menu-component-template .ant-menu-submenu-active .ant-menu-submenu-title .ant-menu-submenu-arrow:before
{
    color: #fff;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
}
.policy-menu-component-template .ant-menu{
    border:0px;
}
.policy-menu-component-template .ant-menu .ant-menu-item{
    color: #666;
    font-size: 17px;
    border:1px solid #b94147;
    border-radius: 20px;
    text-indent:10px;
    margin-bottom: 20px;
}
.policy-menu-component-template .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
    background: #fff;
    color: #ae242b;
}
.policy-menu-component-template .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected a,
.policy-menu-component-template .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-active a{
    color: #ae242b;
}
.policy-menu-component-template .ant-menu .ant-menu-inline .ant-menu-item-selected::after,
.policy-menu-component-template .ant-menu .project-management.ant-menu-item-selected::after{
    display: none;
}
.policy-menu-component-template .ant-menu-submenu-title .anticon,
.policy-menu-component-template .project-management .anticon{
    font-size: 20px;
}
.policy-menu-component-template .ant-menu:not(.ant-menu-horizontal) .project-management.ant-menu-item-active a{
    color:#fff;
    border:0;
}