.policyPreview-template{}
.policyPreview-template .policyPreview-label-box{
    padding-top: 20px;
}
.policyPreview-template .policyPreview-descriptions{
    border:1px solid #efefef;
    padding: 10px;
    margin: 10px 0;
}
.policyPreview-template .policyPreview-content-box{
    padding-bottom: 20px;
}
.policyPreview-template .policyPreview-content{
    margin-top: 20px;
}
.policyPreview-template .policyPreview-content .policyPreview-content-title{
    font-size: 20px;
    color: #333;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}
.policyPreview-template .policyPreview-content .policyPreview-content-text{
    padding: 10px 0;
}