.login-template{

}
.login-template .login-form-box{
    padding: 50px 0;
    width: 500px;
    margin: 0 auto;
}
.login-template .login-title{
    text-align: center;
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
}
.login-template .login-button .ant-btn{
    width: 100%;
    margin-bottom: 20px;
}
.login-template .login-button p{
    text-align: right;
}