.addPolicy-template{
}
.addPolicy-template .addPolicy-serach{
    margin-left: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.addPolicy-template .addPolicy-serach .serach-arrow{
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
}
.addPolicy-template .label-box{
    padding: 10px;
    margin-bottom: 20px;
}
.addPolicy-template .label-box .ant-col-2 {
    text-align: center;
    color: #333;
}
.addPolicy-template .addPolicy-button{
    text-align: center;
    margin-top: 20px;
}
.addPolicy-template .label-product-box{
    position: relative;
}
.addPolicy-template .label-product-box .more-label{
    color:#333;
    position: absolute;
    right:10px;
    top:0;
    cursor: pointer;
}
.addPolicy-template .information-title{
    margin-top: 20px;
    color: #333;
    margin-bottom: 10px;
}
.addPolicy-template .information-title:before{
    content: '';
    width: 5px;
    height: 20px;
    float:left;
    background: #1890ff;
    margin-right: 5px;
}
/*面包屑*/
.addPolicy-template .ant-breadcrumb {
    background: #ae242b;
    height: 70px;
    line-height: 70px;
    color: #fff;
    font-size: 18px;
    padding-left: 110px;
}
.addPolicy-template .ant-breadcrumb > span:last-child a,
.addPolicy-template .ant-breadcrumb a,
.addPolicy-template .ant-breadcrumb .ant-breadcrumb-separator {
    color: #fff;
}
.addPolicy-template .title-component-template{
    margin-top: 80px;
    margin-bottom: 60px;
}
.addPolicy-template .addPolicy-button{
    padding:100px 0
}
.addPolicy-template .addPolicy-button .ant-btn{
    background: #fff;
    color: #ae242b;
    border:1px solid #ae242b;
    border-radius: 20px;
    height: 40px;
    padding: 0 45px;
    font-size: 18px;
    margin-right: 20px;
}
.addPolicy-template .addPolicy-button .ant-btn{
    color: #333;
}