.policyList-template{
}
.policyList-template .policyList-serach{
    margin-left: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.policyList-template .policyList-serach .serach-arrow{
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
}
.policyList-template .label-box{
    padding: 10px;
    margin-bottom: 20px;
}
.policyList-template .label-box .ant-col-2 {
    text-align: center;
    color: #333;
}
.policyList-template .policyList-button{
    text-align: center;
    margin-top: 20px;
}
.policyList-template .label-product-box{
    position: relative;
}
.policyList-template .label-product-box .more-label{
    color:#333;
    position: absolute;
    right:10px;
    top:0;
    cursor: pointer;
}
.policyList-template .title-component-template{
    margin-top: 80px;
    margin-bottom: 60px;
}
/*面包屑*/
.policyList-template .ant-breadcrumb {
    background: #ae242b;
    height: 70px;
    line-height: 70px;
    color: #fff;
    font-size: 18px;
    padding-left: 110px;
}
.policyList-template .ant-breadcrumb > span:last-child a,
.policyList-template .ant-breadcrumb .ant-breadcrumb-separator {
    color: #fff;
}