.title-component-template{
    color: #333;
    font-size: 30px;
    font-weight: bold;
}
.title-component-template:before{
    content: '';
    width: 12px;
    height: 38px;
    float:left;
    background: #aa2426;
    margin-right: 20px;
    margin-top: 5px;
}

