.latestPolicy-template{
}
.latestPolicy-template .latestPolicy-serach{
    margin-left: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.latestPolicy-template .latestPolicy-serach .serach-arrow{
    display: inline-block;
    margin-top: 8px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 14px;
}
.latestPolicy-template .label-box{
    padding: 0px 100px;
    margin-bottom: 20px;
}
.latestPolicy-template .latestPolicy-button{
    text-align: center;
    margin-top: 20px;
}
.latestPolicy-template .label-product-box{
    position: relative;
}
.latestPolicy-template .label-product-box .more-label{
    color:#333;
    position: absolute;
    right:-10px;
    top:5px;
    cursor: pointer;
}
.latestPolicy-template .latestPolicy-serach .serach{
    width: 370px;
    margin: 80px auto 420px;
}
.latestPolicy-template .latestPolicy-serach .ant-input-group .ant-input{
    border:1px solid #c8000a;
    border-radius:15px 0 0 15px;
    padding:4px 11px;
}
.latestPolicy-template .latestPolicy-serach .ant-input-group .ant-btn{
    border:1px solid #c8000a;
    background: #a72329;
    border-radius:0 15px 15px 0;
    padding: 3px 18px;
    height: 35px;
    font-size: 18px;
}
.latestPolicy-template .latestPolicy-serach .ant-input-group .ant-input-group-addon{
    background: none;
}
.latestPolicy-template .label-box .ant-col-4 {
    color: #000;
    font-size: 16px;
}
.latestPolicy-template .label-box .ant-col-4:before{
    content: '';
    width: 5px;
    height: 16px;
    background: #aa2426;
    display: inline-block;
    vertical-align: -2px;
    margin-right: 10px;
}
.latestPolicy-template .latestPolicy-button{
    margin-top: 40px;
    margin-bottom: 30px;
    padding-left: 145px;
    text-align: left;
}
.latestPolicy-template .latestPolicy-button .ant-btn{
    background: #fff;
    color: #ae242b;
    border:1px solid #ae242b;
    border-radius: 20px;
    height: 35px;
    padding: 0 40px;
    font-size: 16px;
    margin: 0 40px;
}
.latestPolicy-template .latestPolicy-button .ant-btn:hover{
    background: #ae242b;
    color: #fff;
}
/*.latestPolicy-template .ant-row{*/
    /*margin-bottom: 60px;*/
/*}*/