.footer-component-template{
    height: 70px;
    line-height: 70px;
    background: #efefef;
    text-align: center;
}
.footer-component-template{
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color: #eee;
    z-index: 1;
}

