.footer-component-template{
    background: #a9242a;
    color: #fff;
    height: 296px;
}
.footer-component-template{
    /*position: fixed;*/
    /*left: 0px;*/
    /*bottom: 0px;*/
    /*width: 100%;*/
    /*z-index: 1;*/
}
.footer-component-template .max-weight-box{
    padding-top: 80px;
    line-height: 30px;
    font-size: 16px;
    background: url("./img/footer_logo.jpg") 1200px center no-repeat;
}

