html, body {
  margin: 0;/*清除默认样式*/
  padding: 0;
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.max-weight-box{
  width: 1280px;
  margin: 0 auto;
}
.ml15{
  margin-left: 15px;
}
.mt10{
  margin-top: 10px;
}
.mr15{
  margin-right: 15px;
}
.main-box{
  /*position: relative;*/
  /*margin: 0 auto;*/
  /*height: auto !important;*/
  /*height: 100%;*/
  /*min-height: 100%;*/
  /*margin-bottom: 296px;*/
  position: relative;
  z-index: 2;
  background: #fff;
}
/*分页*/
.ant-pagination .ant-pagination-item-active{
  border:1px solid #ae242b;
}
.ant-pagination .ant-pagination-item:hover,.ant-pagination .ant-select-selector:hover{
  border:1px solid #ae242b!important;
  color:#ae242b;
}
.ant-pagination .ant-pagination-item:hover a{
  color:#ae242b;
}
.ant-pagination .ant-pagination-item-active a{
  color: #fff;
  background: #ae242b;
}
.ant-pagination .ant-pagination-item-active a:hover{
  color:#ae242b;
}
/*Modal*/
.ant-modal .ant-modal-content{
  border-radius: 20px;
}
.ant-modal .ant-modal-header{
  border-radius: 20px 20px 0 0;
  background: #e5e5e5;
}
.ant-modal .ant-modal-footer{
  text-align: center;
  border-top:0;
  padding-bottom: 50px;
}
.ant-modal-footer button,
.ant-modal .model-button{
  border:1px solid #ae242b;
  color:#ae242b;
  background: #fff;
  border-radius: 20px;
  padding: 0 40px;
  height: 35px;
}
.ant-modal .model-button{
  padding: 0 10px;
  border-radius: 10px;
  height: 25px;
  margin-left: 10px;
  font-size: 12px;
}
.ant-modal-footer button:hover,
.ant-modal .model-button:hover{
  background:#ae242b;
  border:1px solid #ae242b;
  color:#fff!important;
}
.ant-modal-footer button:focus{
  background:#fff;
}
/*输入框*/
.ant-input:focus,
.ant-input:hover,
.ant-input-password,
.ant-select-selector:focus,
.ant-select-selector:hover,
.ant-select-open .ant-select-selector,
.ant-picker:focus,
.ant-picker:hover,
.ant-picker-focused,
.ant-upload .ant-btn:focus,
.ant-upload .ant-btn:hover,
.ant-modal .ant-btn:focus
{
  border:1px solid #ae242b!important;
  box-shadow: 0 0 0 2px rgba(178, 41, 46, 0.2) !important;
  color:#ae242b;
}
.ant-input-password .ant-input:focus,
.ant-input-password .ant-input:hover{
  border:0px!important;
  box-shadow:none!important;
}
.ant-upload .ant-btn:focus,
.ant-upload .ant-btn:hover{
  color:#ae242b!important;
}
/*表格*/
.main-box .ant-table thead > tr > th{
  background: #ae242b;
  color: #fff;
  font-size: 14px;
}
.main-box .ant-table .ant-table-tbody tr td{
  background: #fff;
}
.main-box .ant-table .ant-table-tbody tr:nth-child(2n) td{
  background: #e5e5e5;
}
/*tag*/
.main-box .ant-tag{
  background: #eeeeee;
  border-radius:15px ;
  padding: 5px 20px;
  font-size: 16px;
  color: #666;
}
.main-box .ant-breadcrumb > span:last-child{
  color:#fff;
}
